<% include header %>
<div class="page-404">
  <h2>404, you got the wrong place!</h2>
  <p>Maybe you should use search engine,
  or just browse <a href="/packages">all packages</a>.</p>
  <p><img src="https://i.alipayobjects.com/i/localhost/jpg/201404/2YouQBk2hZ.jpg"></p>
</div>
<% include footer %>
