  </section>
  <footer>
    <div class="container">
    Based on <a target="_blank" href="https://github.com/spmjs/spmjs.io">spmjs.io@<%= spmjsioVersion %></a>
    - ©2013~2099 - JavaScript Rocks!
    </div>
  </footer>
  </body>
</html>
