  </section>
  <footer>
    <div class="container">
    Based on
    <a target="_blank" href="https://github.com/spmjs/spmjs.io">spmjs.io</a>@<%= spmjsioVersion %>
    <a target="_blank" href="https://github.com/spmjs/spmjs.io/tree/<%= gitRev %>"><%= gitRev %></a>
    - ©2013~2099 - JavaScript Rocks!
    </div>
  </footer>
  </body>
</html>
