  </section>
  <footer>
    <div class="container">
    <a href="/"><%= title %></a>
    © 2013 - 2099
    <a target="_blank" href="https://github.com/spmjs/spmjs.io">Github</a>
    </div>
  </footer>
  </body>
</html>
