<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="<%= title %>"/>
    <link rel='stylesheet' href='http://static.alipayobjects.com/gallery/normalize/3.0.0/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/markdown.css' />
    <% if (GA) { %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '<%= GA %>', 'auto');
      ga('send', 'pageview');
    </script>
    <% } %>
    <script charset="utf-8" id="seajsnode" src="http://static.alipayobjects.com/??seajs/seajs/2.2.0/sea.js,seajs/seajs-combo/1.0.1/seajs-combo.js,seajs/seajs-style/1.0.2/seajs-style.js"></script>
    <script>
    seajs.config({
      alias: {
        '$': 'jquery/jquery/1.10.1/jquery',
        'autocomplete': 'arale/autocomplete/1.2.3/autocomplete'
      }
    });
    </script>
  </head>
  <body>
  <header>
    <div class="container">
      <h1 id="logo" title="spmjs - static package manager"><a href="/">spmjs</a></h1>
      <div class="search-form">
        <form method="get" action="/search">
          <input class="text" name="q" type="search" autocomplete="off" placeholder="Search Packages">
        </form>
        <i class="iconfont">&#xe605;</i>
        <script>
        // search hint
        seajs.use(['$', 'autocomplete'], function($, AutoComplete) {
          var auto = new AutoComplete({
            trigger: 'input[name=q]',
            dataSource: function(query, done) {
              var that = this;
              $.get('/suggest?q=' + query).success(function(data) {
                data = data.map(function(item) {
                  return {
                    value: item.name,
                    label: item.name,
                    description: item.description
                  }
                });
                data = data.sort(function(a, b) {
                  return a.value.length - b.value.length;
                });
                done(data);
              });
              return false;
            },
            template:
                '<div class="{{classPrefix}}">\
                    <ul class="{{classPrefix}}-ctn" data-role="items">\
                        {{#each items}}\
                            <li data-role="item" class="{{../classPrefix}}-item" data-value="{{matchKey}}">\
                                <a href="/package/{{label}}" class="ui-autocomplete-item-label">{{label}}</a>\
                                <div class="ui-autocomplete-item-description">{{description}}</div>\
                            </li>\
                        {{/each}}\
                    </ul>\
                 </div>',
          })
          .render()
          .before('show', function() {
            this.set('width', $(this.get('trigger')).outerWidth(true));
          }).on('itemSelect', function(item) {
            this.set('submitOnEnter', false);
            location.href = '/package/' + item.label;
          });
        });
        </script>
      </div>
      <ul class="navigation">
        <li>
          <a href="/packages">
            <i class="iconfont">&#xf0174;</i>
            Packages
          </a>
        </li>
        <li>
          <a href="/documentation">
            <i class="iconfont">&#xf00ca;</i>
            Document
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/spmjs/spm">
            <i class="iconfont">&#xe604;</i>
            Github</a>
        </li>
        <% if (!anonymous) { %>
        <% if (user) { %>
        <li>
          <a href="/account">
            <i class="iconfont">&#xf0006;</i>
            <%= user.login %>
          </a>
        </li>
        <li>
          <a href="/logout">
            <i class="iconfont">&#xf0204;</i>
            logout
          </a>
        </li>
        <% } else { %>
        <li>
          <a id="login" href="/login">
            <i class="iconfont">&#xe606;</i>
            <span>Sign in</span>
          </a>
        </li>
        <% } %>
        <% } %>
      </ul>
    </div>
  </header>
  <script>
  seajs.use(['$'], function($) {
    $('#login').click(function() {
      $(this).find('span').html('Login..');
    });
  });
  </script>
  <section class="index-banner">
    <div class="container">
      <h2>spm<span class="index-banner-fade">@3.x</span></h2>
      <p>Brand new static package manager for browser.</p>
      <a class="button button-blue" href="/documentation">
        <i class="iconfont">&#xe602;</i>
        Getting Started
      </a>
      <a class="button button-red" href="/packages">
        <i class="iconfont">&#xf0174;</i>
        Packages
      </a>
    </div>
  </section>
  <section class="main container">
