<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='http://static.alipayobjects.com/gallery/normalize/3.0.0/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/markdown.css' />
    <script charset="utf-8" id="seajsnode" src="http://static.alipayobjects.com/??seajs/seajs/2.2.0/sea.js,seajs/seajs-combo/1.0.1/seajs-combo.js,seajs/seajs-style/1.0.2/seajs-style.js"></script>
    <script>
    seajs.config({
      alias: {
        '$': 'jquery/jquery/1.10.1/jquery'
      }
    });
    </script>
  </head>
  <body>
  <header>
    <div class="container">
      <h1 id="logo"><a href="/">spmjs</a></h1>
      <div class="search-form">
        <form method="get" action="/search">
          <input class="text" name="q" type="search" placeholder="Search Packages">
        </form>
      </div>
      <ul class="navigation">
        <li>
          <a href="/packages">
            <i class="iconfont">&#xf0174;</i>
            Packages
          </a>
        </li>
        <li>
          <a href="">
            <i class="iconfont">&#xf00ca;</i>
            Docs
          </a>
        </li>
        <li>
          <a href="https://github.com/spmjs/spm">
            <i class="iconfont">&#xf0036;</i>
            Cli</a>
        </li>
        <% if (user) { %>
        <li>
          <a href="/account">
            <i class="iconfont">&#xf0006;</i>
            <%= user.login %>
          </a>
        </li>
        <li>
          <a href="/logout">
            <i class="iconfont">&#xf0204;</i>
            logout
          </a>
        </li>
        <% } else { %>
        <li>
          <a href="/login">
            <i class="iconfont">&#xf01ca;</i>
            Sign in
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </header>
  <section class="index-banner">
    <div class="container">
      <h2>spm</h2>
      <p>A graceful static package manager for browser based on CommonJS.</p>
      <a class="button positive" href="">
        <i class="iconfont">&#xf00f6;</i>
        Getting Started
      </a>
      <a class="button negative" href="/packages">
        <i class="iconfont">&#xf0174;</i>
        Packages
      </a>
    </div>
  </section>
  <section class="main container">
