@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fontscontent.useso.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fontscontent.useso.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1409386016_6601303.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1409386016_6601303.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1409386016_6601303.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1409386016_6601303.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1409386016_6601303.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont';
  font-style: normal!important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 18px/1.62 "Open Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #444;
}

a {
  color: #2EA3D0;
  text-decoration: none;
  transition: background 0.3s ease;
}

a:hover {
  text-decoration: underline;
}

.button {
  border: none;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  border-radius: 4px;
  padding: 8px 25px;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  color: #fff;
  background-color: #bdc3c7;
  display: inline-block;
}

.button:hover {
  text-decoration: none;
}

.button:active {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.button.button-blue {
  background-color: #4293CC;
  color: #fff;
}

.button.button-blue:hover {
  background-color: #3498DB;
}

.button.button-red {
  background-color: #E16445;
  color: #fff;
}

.button.button-red:hover {
  background-color: #F46744;
}

.button .iconfont {
  margin-right: 3px;
}

input[type=text] {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 9px 12px;
}

input[type=text]:focus {
  border-color: #999;
  outline: none;
}

.container {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 60px;
  line-height: 60px;
  background: #444;
}

header a {
  color: #fff;
}

header a:hover {
  text-decoration: none;
}

header #logo {
  margin: 0;
  font-size: 28px;
  text-shadow: 0 0 70px #fff;
  transition: all 0.3s ease;
}

header #logo:hover {
  text-shadow: 0 0 50px #fff, 0 2px 8px #000;
}

header #logo,
.search-form {
  display: inline-block;
  vertical-align: top;
}

.search-form {
  margin-left: 50px;
  width: 30%;
  position: relative;
}

.search-form .iconfont {
  position: absolute;
  left: 12px;
  top: 1px;
  font-size: 20px;
  color: #999;
}

.search-form input {
  border-radius: 0.3125em;
  border: none;
  font-size: 1em;
  padding: 0.5em 1em 0.5em 2.4em;
  background: rgba(0,0,0,0.5);
  color: #eee;
  width: 80%;
  transition: all 0.4s ease-out;
}

.search-form input:focus {
  width: 130%;
  background: rgba(0,0,0,1);
  outline: none;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  display: inline-block;
  float: right;
}

.navigation li {
  display: inline-block;
}

.navigation li a {
  display: block;
  height: 60px;
  padding: 0 9px;
}

.navigation li a i {
  margin-right: 3px;
  color: #aaa;
  transition: all 0.4s ease-out;
}

.navigation li a:hover {
  background: #000;
  border-bottom: 4px solid #aaa;
}

.navigation li a:hover,
.navigation li a:hover i {
  color: #fff;
}

.main {
  min-height: 400px;
  margin-top: 36px;
  position: relative;
}

.aside-right {
  font-style: italic;
  position: absolute;
  right: 10px;
  top: 18px;
}

.aside-right,
.aside-right a,
.aside-right i {
  color: #777!important;
  outline: none;
}

.aside-right a:hover {
  text-decoration: none;
}

.aside-right i {
  margin-left: 15px;
  margin-right: -4px;
  font-size: 20px;
}

.github-stars {
  display: none;
}

footer {
  padding: 20px 0;
  font-size: 14px;
  font-style: italic;
  clear: both;
  background: #fafafa;
  margin-top: 40px;
  text-align: center;
}

footer a {
  text-transform: uppercase;
}

.index-banner {
  display: none;
  background: #eee;
  text-align: center;
  padding: 20px 0 80px;
}

.index-banner h2 {
  font-size: 58px;
  margin: 0;
  line-height: 1.5;
  color: #555;
}

.index-banner-fade {
  opacity: 0.3;
  font-size: 24px;
}

.index-banner p {
  margin: 0;
  font-size: 22px;
}

.index-banner .button {
  margin-top: 34px;
  margin-right: 10px;
}

.index-banner .button .iconfont {
  transition: all 0.3s ease;
  display: inline-block;
}

.index-banner .button:hover .iconfont {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.index-box {
  display: -moz-box; /* Firefox */
  display: -webkit-box; /* Safari and Chrome */
  display: box;
  width: 100%;
}

.index-list {
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
}

.index-list h2 {
  font-size: 18px;
}

.index-list ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.index-list li {
  font-size: 16px;
  font-style: italic;
}

.index-list li a {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
}

.index-stat {
  position: absolute;
  top: -90px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.index-stat i {
  margin-right: 10px;
  margin-left: 20px;
  font-size: 18px;
}

.index-number {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.cell {
  background: #F9F9F8;
  padding: 10px 18px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.cell h3,
.cell p {
  margin: 0;
}

.cell i {
  float: right;
  font-weight: normal;
  color: #aaa;
}

.search-count {
  color: #888;
  font-style: italic;
}

.profile {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  min-height: 200px;
}

.profile label {
  display: inline-block;
  margin-right: 10px;
  text-align: right;
  width: 74px;
}

.profile-stat {
  font-size: 12px;
  color: #bbb;
  font-weight: bold;
}

.add-ownership-form {
  margin: 15px 0;
}

.add-ownership-form input {
  margin-right: 5px;
  width: 170px;
}

.add-ownership-form button {
  margin-right: 8px;
}

.package {
  position:relative;
  margin-right: 12px;
}

.package i {
  cursor: pointer;
  visibility: hidden;
  opacity: 0.6;
  position:absolute;
  top: -8px;
  right: -12px;
}

.package i:hover {
  opacity: 1;
}

.package:hover i {
  visibility: visible;
}

.error-message {
  color: #A95151;
}

@media (max-width: 1030px) {
  header {
    height: auto;
    overflow: hidden;
  }
  .navigation {
    display: block;
    float: none;
    font-size: 16px;
  }
  header #logo,
  .navigation li,
  .search-form {
    display: block;
    text-align: center;
  }
  .search-form {
    width: 100%;
    margin-left: 0;
  }
  .search-form input {
    padding: 0.5em 1em;
  }
  .search-form input:focus {
    width: 80%;
  }
  .search-form .iconfont {
    display: none;
  }
  .index-box {
    display: block;
  }
  .index-list {
    float: left;
    margin-left: 20px;
  }
}

.security-tip {
  font-size: 14px;
  font-weight: bold;
}

.security-tip .iconfont {
  color: #E49208;
}

.packages {
  margin-bottom: 50px;
}

img.badge {
  vertical-align: middle;
  padding-left: 12px;
}

.readme {
  margin-top: 40px;
}

.all-packages {
  margin: 0;
  padding: 0;
}

.all-packages li {
  display: inline;
}

.all-packages a {
  background: none repeat scroll 0 0 #fafafa;
  border-radius: 2px;
  border-bottom: 3px solid #F0F1F1;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 4px;
  width: 152px;
  padding: 1px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-404 img {
  margin-top: 10px;
  width: 400px;
}

.documentation {
  margin-left: 290px;
}

.documentation-nav {
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

.documentation-nav ol {
  padding: 0;
  list-style-position: inside;
}

.documentation-nav li {
  text-transform: uppercase;
  line-height: 2;
  border-radius: 3px;
  padding: 3px 12px;
}

.documentation-nav li.current {
  font-weight: bold;
  background: #FEFFEF;
  border-width: 2px 0;
}

.markdown h1.package-name {
  font-size: 2.4em;
  line-height: 1.2;
}

.markdown h1.package-name .package-version {
  font-size: 22px;
  color: #888;
}

.markdown .anchor {
  display: none;
  margin-left: 8px;
}

.markdown .header-link {
  font-size: 20px;
}

.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  text-decoration: none;
  display: inline;
}

.ui-autocomplete {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px #ccc;
}

.ui-autocomplete ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ui-autocomplete ul li {
  font-size: 18px;
  padding: 3px 12px;
}

.ui-autocomplete ul li a {
  text-decoration: none;
}

.ui-autocomplete-item-label {
  font-weight: bold;
}

.ui-autocomplete-item-description {
  font-size: 14px;
  color: #999;
}

.ui-autocomplete-item-hover {
  background: #f3f3f4;
}
