@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}

@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1398413290_9988327.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1398413290_9988327.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1398413291_7122023.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1398413290_784757.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1398413291_7414126.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont';
  font-size: 16px;
  font-style: normal!important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 16px/1.62 "Open Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #555;
}

a {
  color: #2EA3D0;
  text-decoration: none;
  transition: background 0.3s ease;
}

a:hover {
  text-decoration: underline;
}

.button {
  -moz-user-select: none;
  background-color: #FAFAFA;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  border: medium none;
  border-radius: 0.25em;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  color: #808080;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  min-height: 1em;
  outline: 0 none;
  padding: 0.8em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.25s ease 0s, background-color 0.25s ease 0s, color 0.25s ease 0s, background 0.25s ease 0s, box-shadow 0.25s ease 0s;
  vertical-align: middle;
  background-color: #5BBD72;
  color: #FFFFFF;
}

.button:hover {
  text-decoration: none;
}

.button:active {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.button.positive {
  background-color: #5BBD72;
  color: #fff;
}

.button.positive:hover {
  background-color: #58CB73;
}

.button.negative {
  background-color: #D95C5C;
  color: #fff;
}

.button.negative:hover {
  background-color: #E75869;
}

.container {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 60px;
  line-height: 60px;
  background: #3D3D3D;
}

header a {
  color: #fff;
}

header a:hover {
  text-decoration: none;
}

header #logo {
  margin: 0;
  font-size: 22px;
  text-shadow: 0 0 70px #fff;
}

header #logo,
.search-form {
  display: inline-block;
  vertical-align: top;
}

.search-form {
  margin-left: 60px;
  width: 30%;
}

.search-form input {
  border-radius: 0.3125em;
  border: none;
  font-size: 1em;
  padding: 0.5em 1em;
  background: rgba(0,0,0,0.35);
  color: #ddd;
  width: 80%;
  transition: all 0.4s ease-out;
}

.search-form input:focus {
  width: 120%;
  background: rgba(0,0,0,0.8);
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  display: inline-block;
  float: right;
}

.navigation li {
  display: inline-block;
}

.navigation li a {
  display: block;
  padding: 0 12px;
}

.navigation li a i {
  margin-right: 5px;
  color: #aaa;
}

.navigation li a:hover {
  background: #4f4f4f;
}

.main {
  min-height: 400px;
  margin-top: 40px;
  position: relative;
}

.aside-right {
  position: absolute;
  top: 18px;
  right: 8px;
  font-size: 14px;
}

.aside-right,
.aside-right a,
.aside-right i {
  color: #777!important;
}

.aside-right a:hover {
  text-decoration: none;
}

.aside-right i {
  color: #777!important;
  margin-left: 10px;
  margin-right: 0;
}

.github-stars {
  display: none;
}

footer {
  padding: 20px 0;
  font-size: 14px;
  font-style: italic;
}

footer a {
  text-transform: uppercase;
}

.index-banner {
  display: none;
  background: #4880AE;
  color: #fff;
  padding: 20px 0 40px;
  text-shadow: 0 0 90px #fff, 0 0 150px #fff;
}

.index-banner h2 {
  font-size: 56px;
  margin: 0;
  line-height: 1.5;
}

.index-banner p {
  margin: 0;
  font-size: 22px;
}

.index-banner .button {
  margin-top: 34px;
  margin-right: 10px;
}

.index-box {
  display: -moz-box; /* Firefox */
  display: -webkit-box; /* Safari and Chrome */
  display: box;
  width: 100%;
}

.index-list {
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
}

.index-list h2 {
  font-size: 18px;
}

.index-list ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.count i {
  margin-right: 10px;
}

.cell {
  background: #F9F9F8;
  padding: 10px 18px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.cell h3,
.cell p {
  margin: 0;
}

.search-count {
  color: #888;
  font-style: italic;
}

.profile {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.profile label {
  display: inline-block;
  width: 60px;
}

.add-package-form {
  margin: 32px 0;
}

.add-package-form input {
  border-radius: 2px;
  border: 1px solid #bbb;
  padding: 7px 12px;
  vertical-align: middle;
  width: 180px;
  margin-right: 6px;
}

.add-package-form button {
  margin-right: 6px;
}

@media (max-width: 800px) {
  header {
    height: auto;
    overflow: hidden;
  }
  .navigation {
    display: block;
    float: none;
    font-size: 16px;
  }
  header #logo,
  .navigation li,
  .search-form {
    display: block;
    text-align: center;
  }
  .search-form {
    width: 100%;
    margin-left: 0;
  }
  .index-list {
    float: none;
  }
}
